html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

header {
  text-align: center;
  padding-top: 2rem;
  background-color: #f5f5f5;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #6c757d;
}

nav {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: crimson;
}

nav>a {
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto 5rem;
}

#content>article {
  margin-top: 2.5rem;
}

@media screen and (min-width: 992px) {
  main {
    flex-direction: row;
  }
}

a {
  color: crimson;
}

p {
  font-size: 1.2rem;
}

ol>li::marker {
  font-weight: bold;
}

aside {
  width: 100%;
}

aside>p {
  font-size: 1.2rem;
}

@media screen and (min-width: 992px) {
  main {
    gap: 2rem;
  }

  aside>p {
    font-size: 1rem;
  }
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: #f5f5f5;
}