html {
  scroll-behavior: smooth;
}

.hide-in-mobile {
  display: inherit;
}

@media screen and (min-width: 992px) {
  .hide-in-desktop {
    display: none;
  }

  .hide-in-mobile {
    display: none;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

header {
  text-align: center;
  padding-top: 2rem;
  background-color: #f5f5f5;
}

.web-title {
  padding: 0 2rem 0 2rem;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #6c757d;
}

#nav-toggle {
  background-color: crimson;
  display: flex;
  justify-content: flex-end;
}

#nav-toggle>button {
  border: none;
  background-color: inherit;
  color: #fff;
  font-size: 1.5rem;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: crimson;
  gap: 0.5rem;
}

nav>a {
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 992px) {
  nav {
    flex-direction: row;
    justify-content: center;
  }

  nav>a {
    margin: 0 0.5rem;
    display: inherit;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin: auto 5rem;
}

#content>article {
  margin-top: 2.5rem;
}

article>img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 992px) {
  main {
    flex-direction: row;
  }
}

a {
  color: crimson;
}

p {
  font-size: 1.2rem;
}

ol>li::marker {
  font-weight: bold;
}

aside {
  width: 100%;
}

aside>p {
  font-size: 1.2rem;
}

@media screen and (min-width: 992px) {
  main {
    gap: 1rem;
  }

  aside>p {
    font-size: 1rem;
  }
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: #f5f5f5;
}

#back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  background-color: crimson;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}